
<html lang="en" ng-app="RegApp">
        
            <head>
                <meta charset="UTF-8">
                <title> Clone from Bitbucket </title>
        
                <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
                <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
                <link rel="stylesheet" href="/shapes.css" />
        
            </head>

    <body ng-cloak="true" ng-controller="AnimateCtrl as ctrl">
        <div class="container">
            <div class="box rotate"></div>
            <br>
            <input type="checkbox" ng-model="ctrl.boxClass"/> Box <!--true/false -->
            <input type="checkbox" ng-model="ctrl.circleClass"/> Circle <!--true/false -->
            <input type="checkbox" ng-model="ctrl.triangleClass"/> Triangle <!--true/false -->
            <div class="rotate" ng-class="{ 'box': ctrl.boxClass, 'circle': ctrl.circleClass, 'triangle': ctrl.triangleClass }"></div>
        </div>

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="/app/animate.module.js"></script> 
        <script src="/app/animate.controller.js"></script> 


    </body>
</html>